<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>101048952348-cnqdc4fsalgj13mjkipve4sjjueutthd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.101048952348-cnqdc4fsalgj13mjkipve4sjjueutthd</string>
	<key>API_KEY</key>
	<string>AIzaSyCXSVFoQYIuRRqAfgPougIsEY_N-3DEfOg</string>
	<key>GCM_SENDER_ID</key>
	<string>101048952348</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.RNWS</string>
	<key>PROJECT_ID</key>
	<string>persionnel-d395d</string>
	<key>STORAGE_BUCKET</key>
	<string>persionnel-d395d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:101048952348:ios:b1b985a1267666333521d9</string>
</dict>
</plist>